h1{
    height: 100vh;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: black;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
    
}

.first-section{
    background-image: url(/doroga.jpg);

}

.second-section{
    background-image: url(/doroga2.jpg);

}

.third-section{
    background-image: url(/doroga3.jpg);

}